/* CSS Document */
p{font-size:11px; font-family:Tahoma}
p.small{font-size:9px; font-family:Tahoma}

h2{font-size:14px; font-family:Tahoma}

a:link{text-decoration:none}
a:hover{text-decoration:underline}
a:visited{text-decoration:none}
a:active{text-decoration:none}

a.whitelnk:link{color:#FFFFFF}
a.whitelnk:visited{color:#FFFFFF}
a.whitelnk:hover{color:#FFFFFF}
a.whitelnk:active{color:#FFFFFF}

a.blacklnk:link{color:#000000}
a.blacklnk:visited{color:#000000}
a.blacklnk:hover{color:#000000}
a.blacklnk:active{color:#000000}

.frmwrite{font-size:12px; font-family:Tahoma}

.mydv{
position:absolute;
background-color:#EEEEEE;
overflow:auto;
border:1px solid #666666;
z-index:100;
}